.css-fg4pbf {
  background-color: rgb(43, 41, 41);
}

.css-10trblm {
  color: #fff;
}

.css-16idsys p {
  color: #fff;
}

.css-18ni7ap {
  display: none;
}

.css-1y4p8pa img {
  border-radius: 24px;
  height: 400px;
  width: 600px;
  object-fit: cover;
}
